@import "reset.scss";

* {
  font-family: "Cabin", sans-serif;
}
.conteiner {
  width: 1296px;
  margin: 0 auto;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.bookRead {
  display: flex;
  height: 72px;
  padding: 16px 52px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #10bbd5;
  margin-bottom: 4px;
  width: 1400px;
  margin: 0 auto;
}
.bookRead-wrapper {
  display: flex;
  width: 1296px;
  justify-content: space-between;
  align-items: center;
  .bookRead_logo-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  p {
    color: #f8fdfe;
    font-size: 24px;
    font-weight: 700;
  }
  .bookRead-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .bookRead-card-wrapper {
      width: 40px;
      height: 40px;
      position: relative;
      .bookRead-card-wrapper::before {
        content: "0";
        left: 0;
        top: 0;
        position: absolute;
        color: #000;
      }
      .bookRead-card-wrapper:nth-child(1) {
        width: 33.126px;
        height: 21.667px;
        flex-shrink: 0;
      }
      .bookRead-card-wrapper:nth-child(2) {
        width: 8.333px;
        height: 8.333px;
        flex-shrink: 0;
      }
      .bookRead-card-wrapper:nth-child(3) {
        width: 8.333px;
        height: 8.333px;
        flex-shrink: 0;
      }
    }
  }
}
.category-white {
  width: 1400px;
  margin: 0 auto;
  background-color: #f8fdfe;
}
.category {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
  .category-shop {
    display: flex;
  }
  .category-order {
    display: flex;
    gap: 10;
    .category-order-item {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

.main {
  background: #eeeeef;
  width: 1400px;
  // height: 1220px;
  margin: 0 auto;
  h1 {
    color: #1f1f1f;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-top: 32px;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 23px;
  }
}

.card-wrapper {
  display: grid;
  grid-template-columns: 306px 306px 306px 306px;
  grid-template-rows: 512px 512px 512px;
  padding: 24px 0 120px 0;
  gap: 20px;
  .card {
    // width: 306px;
    // height: 512px;
    flex-shrink: 0;
    border: 1px solid #a8a8a8;
    background: #f8fdfe;
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .card-img {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      .card-img-conteiner {
        display: flex;
        width: 178px;
        height: 280px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    .card-title {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      > h2 {
        overflow: hidden;
        color: #1f1f1f;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Cabin;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        display: flex;
        width: 242px;
        height: 31px;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #a8a8a8;
      }
    }
    .card-text {
      overflow: hidden;
      color: #8e8e8e;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      display: flex;
      width: 241px;
      height: 24px;
      flex-direction: column;
      justify-content: center;
    }
    .card-prise {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      p:nth-child(1) {
        color: #e90000;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }
      p:nth-child(2) {
        color: #8e8e8e;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-decoration: line-through;
      }
    }
  }
  .card-btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4c394e;
    p {
      color: #f8fdfe;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .card-btn-color {
    background: #4d762d;
  }
}
.card-badge {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  .card-new {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #af39e7;
    p {
      color: #f8fdfe;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .card-hit {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #4200ff;
    p {
      color: #f8fdfe;
      text-align: center;
      font-family: Cabin;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
  .card-loss {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #ea33c0;
    p {
      color: #f8fdfe;
      text-align: center;
      font-family: Cabin;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
}
.footer {
  background-color: #4c394e;
  width: 1400px;
  margin: 0 auto;
  .footer-text {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
  }
  li {
    color: #f8fdfe;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
.icon {
  position: fixed;
  // display: flex;
  justify-content: center;
  align-items: center;
  top: 33%;
  right: 2%;
  width: 64px;
  height: 64px;
}

